<main class="px-4 py-12">
  <section class="mx-auto max-w-5xl">
    <h1 class="mb-8 text-3xl font-bold text-slate-800">Appointment History</h1>

    <!-- Upcoming -->

    <div class="mb-12">
      <h2 class="mb-4 text-xl font-semibold text-slate-700">Upcoming Appointmentss</h2>

      <div *ngIf="upcoming.length; else noUpcoming" class="space-y-4">
        <div *ngFor="let a of upcoming" class="rounded-xl border bg-white p-5 shadow-sm">
          <div class="flex justify-between">
            <p class="font-semibold">{{ a.service }}</p>
            <p class="text-sm text-slate-600">Doctor: {{ a.doctor || 'Assigned at Clinic' }}</p>
          </div>

          <div class="text-right text-sm text-slate-600">
            <p>{{ a.appointmentDate }}</p>
            <p>{{ a.appointmentTime || 'TBD' }}</p>
          </div>
        </div>
      </div>
      <ng-template #noUpcoming>
        <p class="text-slate-500">No upcoming appointments.</p>
      </ng-template>
    </div>

    <!-- Past Appointments -->

    <div>
      <h2 class="mb-4 text-xl font-semibold text-slate-700">Past Appointments</h2>
      <div *ngIf="past.length; else noPast" class="space-y-4">
        <div *ngFor="let a of past" class="rounded-xl border bg-slate-50 p-5">
          <div class="flex justify-between">
            <p class="font-semibold">{{ a.service }}</p>
            <p class="text-sm text-slate-600">Doctor: {{ a.doctor || 'Clinic Doctor' }}</p>
          </div>

          <div class="text-right text-sm text-slate-600">
            <p>{{ a.appointmentDate }}</p>
            <p>{{ a.appointmentTime || 'Completed' }}</p>
          </div>
        </div>
      </div>

      <ng-template #noPast>
        <p class="text-slate-500">No Past Appointments yet.</p>
      </ng-template>
    </div>
  </section>
</main>
